<app-navbar></app-navbar>

<div class="bg-gray-200 min-h-screen antialiased pt-20 pb-20 w-full">
  <div class="mx-auto px-2 sm:px-5 lg:px-14">
    <div class="bg-white shadow-md rounded-lg p-6">
      <h1 class="text-2xl font-bold mb-4">Politique de Confidentialité</h1>

      <p class="mb-4">
        Chez Eventify, nous nous engageons à protéger votre vie privée. Cette Politique de Confidentialité décrit les
        informations que nous recueillons, comment nous les utilisons et comment nous les protégeons.
      </p>

      <h2 class="text-xl font-semibold mt-6 mb-2">1. Informations Recueillies</h2>
      <p class="mb-4">
        Nous collectons des informations personnelles lorsque vous vous inscrivez sur notre plateforme, telles que votre
        nom, votre adresse e-mail et d'autres informations nécessaires pour vous fournir notre service.
      </p>

      <h2 class="text-xl font-semibold mt-6 mb-2">2. Utilisation des Informations</h2>
      <p class="mb-4">
        Les informations que nous recueillons sont utilisées pour améliorer votre expérience utilisateur, personnaliser
        le
        contenu et vous envoyer des mises à jour sur nos services.
      </p>

      <h2 class="text-xl font-semibold mt-6 mb-2">3. Protection des Informations</h2>
      <p class="mb-4">
        Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations contre tout accès non
        autorisé ou toute divulgation.
      </p>

      <p class="mt-8">
        Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à <a
          href="mailto:support@eventify.com" class="text-blue-600 hover:underline">support&#64;eventify.com</a>.
      </p>
    </div>
  </div>
</div>