<footer class="bg-gray-800 text-white py-4 px-6">
  <div class="flex flex-col md:flex-row justify-between items-center space-y-4 lg:space-y-0">

    <div class="flex items-center space-x-4">
      <a class="text-3xl font-bold leading-none" href="#">
        Eventify
      </a>
      <div class="text-sm">
        <p>Développé par :</p>
        <p class="font-semibold">Romain F. et Tanguy G.</p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6 text-sm text-center md:text-left">
      <a href="/legal/mentions" class="hover:underline">Mentions légales</a>
      <a href="/legal/cgu" class="hover:underline">CGU</a>
      <a href="/contact" class="hover:underline">Contact</a>
    </div>
  </div>
</footer>